* {
  margin:0
}

.App {
  text-align: center;
  background-color: #74BAFE;
  min-height: 100vh;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.NavBar {
  display: grid;
  grid-template-columns: auto auto auto;
  max-width: 100%;
  background-color: bisque;
}

.basicborder {
  border: 3px solid green;
  width:fit-content; 
  margin:auto;
  padding:1px;
}

.tileGrid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  max-width: 100%;
  background-color: rgb(255, 253, 141);
}

.activeLink {
  color: goldenrod;
}

.inactiveLink {
  color: green;
}