.App {
  text-align: center;
  background-image: linear-gradient(rgb(0, 200, 255), rgb(0, 51, 255));
  min-height: 100vh;
}

.flex-login {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  margin-top: 7%;
  margin-bottom: 2%;
  justify-content: center;
}

.flex-login input {
  text-align: center;
  font-size: x-large;
}

.flex-login label {
  text-align: left;
  margin-left: 50px;
  margin-bottom: -5%;
}

.basicborder {
  border: 3px solid green;
  width:fit-content; 
  margin:auto;
  padding:1px;
}

.tileGrid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  max-width: 100%;
  background-color: rgb(255, 253, 141);
}

.activeLink {
  background-color: #f44336;
  color: white;
  padding: 1% 15%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  max-height: 20px;
}
.inactiveLink {
  color: black;
  background-color: rgb(25, 164, 25);
  padding: 1% 10%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.activeLink:hover {
  background-color: red;
}
.inactiveLink:hover {
  background-color: green;
}